{{- $root := . -}}{{- $next := nextPiece . -}}
+--------------------+                                                     {{range $iy, $row := localStack .}}
|{{range $cell := $row}}{{$cell}}{{end}}|{{- if eq $iy 0}}   Terminal Tetris                                     {{ end -}}
{{- if eq $iy 1}}                                                       {{ end -}}
{{- if eq $iy 2}}                                                       {{ end -}}
{{- if eq $iy 3}}                                                       {{ end -}}
{{- if eq $iy 4}}                                                       {{ end -}}
{{- if eq $iy 5}}           Level: {{if and $root.Local $root.Local.Level}}{{$root.Local.Level}}{{end}}                                 {{ end -}}
{{- if eq $iy 6}}   Lines Cleared: {{if and $root.Local $root.Local.LinesClear}}{{$root.Local.LinesClear}}{{end}}                                   {{ end -}}
{{- if eq $iy 7}}            Next: {{ index $next 0 }}                               {{ end -}}
{{- if eq $iy 8}}                  {{ index $next 1 }}                               {{ end -}}
{{- if eq $iy 9}}                                                       {{ end -}}
{{- if eq $iy 10}}                                                       {{ end -}}
{{- if eq $iy 11}}                                                       {{ end -}}
{{- if eq $iy 12}}                                                       {{ end -}}
{{- if eq $iy 13}}           Right: →, d                                 {{ end -}}
{{- if eq $iy 14}}            Left: ←, a                                 {{ end -}}
{{- if eq $iy 15}}            Down: ↓, s                                 {{ end -}}
{{- if eq $iy 16}}    Rotate Right: ↑, e                                 {{ end -}}
{{- if eq $iy 17}}     Rotate Left: q                                    {{ end -}}
{{- if eq $iy 18}}       Drop Down: space                                {{ end -}}
{{- if eq $iy 19}}            Exit: ctrl-c                               {{ end -}}
{{end}}
+--------------------+{{printf "%74s" ""}}
