{{- $root := . -}}{{- $next := nextPiece . -}}{{- if $root.Remote -}}{{- $rs := remoteStack . -}}
+--------------------+                              +--------------------+{{range $iy, $row := localStack . }}
{{if eq $iy 0}}|{{range $cell := $row}}{{$cell}}{{end}}|       Terminal Tetris        |{{range $rCell := index $rs $iy}}{{$rCell}}{{end}}|{{- end -}}
{{if eq $iy 1}}|{{range $cell := $row}}{{$cell}}{{end}}|                              |{{range $rCell := index $rs $iy}}{{$rCell}}{{end}}|{{- end -}}
{{if eq $iy 2}}|{{range $cell := $row}}{{$cell}}{{end}}|  {{ printf "%9.9s <- vs -> %-9.9s" $root.Name $root.Remote.Name }}|{{range $rCell := index $rs $iy}}{{$rCell}}{{end}}|{{- end -}}
{{if eq $iy 3}}|{{range $cell := $row}}{{$cell}}{{end}}|    {{printf "%2d" $root.Local.LinesClear}} :Lines Cleared: {{printf "%2d" $root.Remote.LinesClear}}     |{{range $rCell := index $rs $iy}}{{$rCell}}{{end}}|{{- end -}}
{{if eq $iy 4}}|{{range $cell := $row}}{{$cell}}{{end}}|                              |{{range $rCell := index $rs $iy}}{{$rCell}}{{end}}|{{- end -}}
{{if eq $iy 5}}|{{range $cell := $row}}{{$cell}}{{end}}|                              |{{range $rCell := index $rs $iy}}{{$rCell}}{{end}}|{{- end -}}
{{if eq $iy 6}}|{{range $cell := $row}}{{$cell}}{{end}}|                              |{{range $rCell := index $rs $iy}}{{$rCell}}{{end}}|{{- end -}}
{{if eq $iy 7}}|{{range $cell := $row}}{{$cell}}{{end}}|            Next: {{ index $next 0 }}    |{{range $rCell := index $rs $iy}}{{$rCell}}{{end}}|{{- end -}}
{{if eq $iy 8}}|{{range $cell := $row}}{{$cell}}{{end}}|                  {{ index $next 1 }}    |{{range $rCell := index $rs $iy}}{{$rCell}}{{end}}|{{- end -}}
{{if eq $iy 9}}|{{range $cell := $row}}{{$cell}}{{end}}|                              |{{range $rCell := index $rs $iy}}{{$rCell}}{{end}}|{{- end -}}
{{if eq $iy 10}}|{{range $cell := $row}}{{$cell}}{{end}}|                              |{{range $rCell := index $rs $iy}}{{$rCell}}{{end}}|{{- end -}}
{{if eq $iy 11}}|{{range $cell := $row}}{{$cell}}{{end}}|                              |{{range $rCell := index $rs $iy}}{{$rCell}}{{end}}|{{- end -}}
{{if eq $iy 12}}|{{range $cell := $row}}{{$cell}}{{end}}|                              |{{range $rCell := index $rs $iy}}{{$rCell}}{{end}}|{{- end -}}
{{if eq $iy 13}}|{{range $cell := $row}}{{$cell}}{{end}}|            Right: →, d       |{{range $rCell := index $rs $iy}}{{$rCell}}{{end}}|{{- end -}}
{{if eq $iy 14}}|{{range $cell := $row}}{{$cell}}{{end}}|             Left: ←, a       |{{range $rCell := index $rs $iy}}{{$rCell}}{{end}}|{{- end -}}
{{if eq $iy 15}}|{{range $cell := $row}}{{$cell}}{{end}}|             Down: ↓, s       |{{range $rCell := index $rs $iy}}{{$rCell}}{{end}}|{{- end -}}
{{if eq $iy 16}}|{{range $cell := $row}}{{$cell}}{{end}}|     Rotate Right: ↑, e       |{{range $rCell := index $rs $iy}}{{$rCell}}{{end}}|{{- end -}}
{{if eq $iy 17}}|{{range $cell := $row}}{{$cell}}{{end}}|      Rotate Left: q          |{{range $rCell := index $rs $iy}}{{$rCell}}{{end}}|{{- end -}}
{{if eq $iy 18}}|{{range $cell := $row}}{{$cell}}{{end}}|        Drop Down: space      |{{range $rCell := index $rs $iy}}{{$rCell}}{{end}}|{{- end -}}
{{if eq $iy 19}}|{{range $cell := $row}}{{$cell}}{{end}}|             Exit: ctrl-c     |{{range $rCell := index $rs $iy}}{{$rCell}}{{end}}|{{- end -}}
{{end}}
+--------------------+                              +--------------------+
{{- else -}}
+--------------------+{{range $iy, $row := localStack .}}
|{{range $cell := $row}}{{$cell}}{{end}}|
{{- if eq $iy 0}}   Terminal Tetris{{- end -}}
{{- if eq $iy 5}}           Level: {{if and $root.Local $root.Local.Level}}{{$root.Local.Level}}{{end}}{{- end -}}
{{- if eq $iy 6}}   Lines Cleared: {{if and $root.Local $root.Local.LinesClear}}{{$root.Local.LinesClear}}{{end}}{{- end -}}
{{- if eq $iy 7}}            Next: {{ index $next 0 }}{{- end -}}
{{- if eq $iy 8}}                  {{ index $next 1 }}{{- end -}}
{{- if eq $iy 9}}                            {{ end -}}
{{- if eq $iy 10}}                            {{ end -}}
{{- if eq $iy 11}}                            {{ end -}}
{{- if eq $iy 12}}                            {{ end -}}
{{- if eq $iy 13}}           Right: →, d{{- end -}}
{{- if eq $iy 14}}            Left: ←, a{{- end -}}
{{- if eq $iy 15}}            Down: ↓, s{{- end -}}
{{- if eq $iy 16}}    Rotate Right: ↑, e{{- end -}}
{{- if eq $iy 17}}     Rotate Left: q{{- end -}}
{{- if eq $iy 18}}       Drop Down: space{{- end -}}
{{- if eq $iy 19}}            Exit: ctrl-c{{- end -}}
{{end}}
+--------------------+{{- end -}}
